{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cube-detail.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
        <h2>Cube</h2>
        <h3>{{cube.id}}</h3>

        <form action="/cubes/{{cube.id}}" method="post" id="form">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" value="{{cube.location}}">

            <div id="tables">
                <table id="sensors">
                    <thead>
                        <th>Sensor</th>
                        <th>Scan Interval</th>
                    </thead>
                    {{#each cube.sensors}}
                        <tr id="sensor_row_{{this}}">
                            <td>
                                {{this.type}}
                                <input type="hidden" name="sensors[{{@index}}][type]" value="{{this.type}}">
                            </td>
                            <td> 
                                <input type="number" name="sensors[{{@index}}][scanInterval]" value="{{this.scanInterval}}">
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <table id="actuators">
                    <thead>
                        <th colspan="2">Actuators</th>
                    </thead>
                    {{#each cube.actuators}}
                        <tr id="actuator_row_{{this}}">
                            <input type="hidden" name="actuators" value="{{this}}">
                            <td>{{this}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div id="buttons">
                <a href="/">
                    <input type="button" value="Back" />
                </a>
                <input type="reset" name="reset" value="Reset" />
                <input type="submit" name="submit" value="Submit" />
            </div>
        </form>
    </div>

    {{!Add footer}}
    {{> footer}}
</body>
</html>