{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cube-detail.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
        <h2>Cube</h2>
        <h3>{{cube.id}}</h3>

        <form action="/cubes/{{cube.id}}" method="post">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" value="{{cube.location}}">

            <div id="tables">
                <table id="sensors">
                    <thead>
                        <th>Sensor</th>
                        <th></th>
                    </thead>
                    <input type="hidden" name="sensors" id="sensors_input" value="{{cube.sensors}}">
                    {{#each cube.sensors}}
                        <tr>
                            <td>{{this}}</td>
                            <td>
                                <img class="icon-delete" src="/static/img/minus-solid.svg" height="20px" alt="Delete">
                            </td>
                        </tr>
                    {{/each}}
                    {{#if additional_sensors}}
                        <tr class="add-item" id="additional_sensors_row">
                            <td>
                                <select id="additional_sensors_select">
                                    {{#each additional_sensors}}
                                        <option value="{{this.name}}" id="add-sensor-{{this.name}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <img class="icon-add" id="add-sensor-button" src="/static/img/plus-solid.svg" height="20px" alt="Add">
                            </td>
                        </tr>
                    {{/if}}
                </table>
                <table id="actuators">
                    <thead>
                        <th colspan="2">Actuators</th>
                    </thead>
                    <input type="hidden" name="actuators" id="actuators_input" value="{{cube.actuators}}">
                    {{#each cube.actuators}}
                        <tr>
                            <td>{{this}}</td>
                            <td>
                                <img class="icon-delete" src="/static/img/minus-solid.svg" height="20px" alt="Delete">
                            </td>
                        </tr>
                    {{/each}}
                    {{#if additional_actuators}}
                        <tr class="add-item" id="additional_actuators_row">
                            <td>
                                <select id="additional_actuators_select">
                                    {{#each additional_actuators}}
                                        <option value="{{this}}" id="add-actuator-{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <img class="icon-add" id="add-actuator-button" src="/static/img/plus-solid.svg" height="20px" alt="Add">
                            </td>
                        </tr>
                    {{/if}}
                </table>
            </div>
            <input type="reset" name="reset" value="Reset" />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

    {{!Add footer}}
    {{> footer}}

    <script src="/static/js/cube-detail.js"></script>
</body>
</html>