{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cubes-list.css">
{{/html_head}}

<body>
    {{!Add navbar}}
    {{> navbar}}

    {{!Fill content}}
    <div id="content">

        <h1>Cubes</h1>
    
        {{#if cubes}}
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <th>Location</th>
                    <th>Id</th>
                    <th></th>
                    <th></th>
                </thead>
                {{#each cubes}}
                    <tr>
                        <td>{{this.location}}</td>
                        <td>{{this.id}}</td>
                        <td>
                            <a href="cubes/{{this.id}}">
                                <i class="fas fa-edit fa-lg fa-button"></i>
                            </a>
                        </td>
                        <td>
                            <a href="cubes/delete/{{this.id}}">
                                <i class="fas fa-trash fa-lg fa-button"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <p>There aren't any registered cubes!</p>
        {{/if}}

        <h1>Available Cubes</h1>
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <th>IP-Address</th>
                <th>Location</th>
                <th></th>
                <th></th>
            </thead>
            <tr>
                <form action="/cubes" method="post" id="new_token_form">
                    <td>
                        <input id="new_cube_ip_input" type="text" name="ip" placeholder="ip-address">
                    </td>
                    <td>
                        <input id="new_cube_location_input" type="text" name="location" placeholder="location">
                    </td>
                    <td></td>
                    <td>
                        <input id="new_cube_submit" class="fa-button" type="submit" name="submit" value="&#xf00c;">
                    </td>
                </form>
            </tr>
        </table>
    </div>

    {{!Add footer}}
    {{> footer}}
</body>
</html>