{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/users-list.css">
{{/html_head}}

<body>
    {{!Add header}}
    {{> header}}

    {{!Fill content}}
    <div id="content">
    {{#if users}}
        <table>
            <thead>
                <th>Name</th>
                <th>Password</th>
                <th></th>
                <th></th>
            </thead>
            {{#each users}}
                <tr>
                    <form action="/users/{{this.id}}" method="post" id="form">
                        <td>
                            <span id="{{this.id}}_name_span">{{this.name}}</span>
                            <input id="{{this.id}}_name_input" type="hidden" name="name" value="{{this.name}}">
                        </td>
                        <td>
                            <input id="{{this.id}}_password_input" type="hidden" name="password">
                        </td>
                        <td>
                            <img class="icon-edit" src="/static/img/edit-regular.svg" height="20px" alt="Edit">
                        </td>
                        <td>
                            <a href="/users/delete/{{this.id}}">
                                <img class="icon-delete" src="/static/img/minus-solid.svg" height="20px" alt="Delete">
                            </a>
                        </td>
                    </form>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>There aren't any users!</p>
    {{/if}}
    </div>

    {{!Add footer}}
    {{> footer}}

    <script src="/static/js/users-list.js"></script>
</body>
</html>